@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Comfortaa:wght@300;400;500;600;700&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Play:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  @apply list-none;
}

@font-face {
  font-family: "Arvo", serif;
  font-family: "Comfortaa", cursive;
  font-family: "Josefin Slab", serif;
  font-family: "Lexend", sans-serif;
  font-family: "Play", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Comfortaa:wght@300;400;500;600;700&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Play:wght@400;700&display=swap");
}

/*Scrollbar Track*/
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

/*Scrollbar Handle*/
::-webkit-scrollbar-thumb {
  background-color: #e09f3e;
  border-radius: 100px;
}

/*Thin Scrollbar*/
::-webkit-scrollbar {
  width: 0px;
  height: 2px;

  background-color: transparent;
}
